<a href="https://colab.research.google.com/github/Supakornnn/data_viz_2022/blob/main/SVEIQCR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# เตรียมโค้ดคำนวณ

In [1]:
#import libralies
import pandas as pd # ใช้จัดการข้อมูลต่าง ๆ ที่เป็นตาราง พวกexcel ,CSV
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt # พล็อตกราฟต่างๆ 

from scipy.integrate import odeint #Integrate a system of ordinary differential equations.
                                                # func(y, t0, ...) 

%config InlineBackend.figure_format = 'retina'

# SVEIQCR simulation of Monkeypox in human

## พารามิเตอร์ของตัวแบบ และสมการเชิงอนุพันธ์

In [9]:
 #SVEIQCR model ในประชากรมนุษย์
 #Differential equations
def deriv (y, t, N, Lambda, Phi, Mu, Lamda, Nu, theta, Beta, delta, alpha, Tau, Rho,gamma): # paramerter ในตัวแบบ โดย t คือ เวลา N จำนวนประชากรมนุษย์ทั้งหมด
    S, V, E, I, Q, C, R = y
    dSdt = Lambda+Phi*Q-Mu*S-Lamda*S-Nu*S
    dVdt = Nu*S+Mu*V
    dEdt = Lamda*S-Mu*E-theta*E-Beta*E
    dIdt = theta*E-delta*I-Mu*I-Rho*I-gamma*I
    dQdt = Beta*E-delta*Q-Mu*Q-Phi*Q-Tau*Q
    dCdt = gamma*I-delta*C-Mu*C-alpha*C
    dRdt =Rho*I+Tau*Q+alpha*C-Mu*R
    return dSdt, dVdt, dEdt, dIdt, dQdt, dCdt, dRdt

In [10]:
# parameter value
Lambda =0.029
Phi = 0.5
Mu = 0.0003
Lamda = 0.00000189
Nu =0.01 #1%
theta = 0.032
Beta = 0.333 # กักตัว 3 วัน
delta = 0.2
alpha = 0.036
Tau = 0.52
Rho = 0.088
gamma = 0.5

# Time period (100 days)
t = np.arange(0,100,1)

#Initial number 
S0 = 332900000
V0 = 717362
E0 =0
I0 = 28615
Q0 = 0
C0 = 0
R0 = 0
N = 332928615

# Constant rate 
L = 0.029
P = 0.5
M= 0.0003
I = 0.00000189
N = 0.01
T =0.032
B =0.333
D =0.2
A =0.036
TT = 0.52
R = 0.088
G = 0.5
#Integration SVEIQCR model
simulationresult = odeint(deriv,(S0, V0, E0, I0, Q0, C0, R0), t, args = (N,L,P,M,I,N,T,B,D,A,TT,R,G))

#Summary
simulationResult = pd.DataFrame(simulationresult, columns = ['Susceptible','Vaccine','Exposed','Infectious','Quarantine','Clinically','Recovered' ])
simulationResult = simulationResult.astype(np.int32)

In [11]:
simulationResult

,Susceptible,Vaccine,Exposed,Infectious,Quarantine,Clinically,Recovered
0,332900000,717362,0,28615,0,0,0
1,329488117,4029986,524,13015,63,8682,1940
2,326111247,7309655,882,5933,163,10807,3154
3,322769034,10556709,1126,2720,247,10338,4008
4,319461111,13771481,1289,1263,309,8995,4668
...,...,...,...,...,...,...,...
95,125114530,205818283,666,27,183,60,20700
96,123832321,207124948,659,27,181,59,20793
97,122563252,208419247,652,26,179,59,20885
98,121307189,209701307,645,26,177,58,20977
99,120063999,210971253,639,26,175,58,21067

# SEI simulation of Monkeypox in rodent

## พารามิเตอร์ของตัวแบบ และสมการเชิงอนุพันธ์

In [ ]:
# SEI model ในประชากรสัตว์ฟันแทะ
# Differential equations
def deriv(y, t,N, Lambda, Mu, Lamda, theta, delta): # 
    S, E, I = y
    dSdt = Lambda-Mu*S-Lamda*S
    dEdt = Lamda*S-Mu*E-theta*E
    dIdt = theta*E -delta*I-Mu*I
    return dSdt, dEdt, dIdt

In [ ]:
# parameter value
Lambda = 0.2
Mu = 0.1
Lamda = 0
theta = 0.032
delta = 0.5

# Time period (100 days)
t = np.arange(0,100,1)

#Initial number of exposed, infected and recovered
S0 = 100
E0 = 0
I0 = 0
N=100

# Constant rate 
L = 0.2  
M = 0.1 
l= 0
T = 0.032  
d = 0.5

#Integration SEI model
simulationresult = odeint(deriv, (S0, E0, I0), t, args = (N,L, M, l, T, d))

#Summary
simulationResult = pd.DataFrame(simulationresult, columns = ['Susceptible', 'Exposed', 'Infectious', ])
simulationResult = simulationResult.astype(np.int32)

In [ ]:
t = np.arange(0,100,1)
t

In [ ]:
simulationResult

In [ ]:
# plot the simulation
plt.figure (figsize = (14, 7)) #กำหนดขนาด
with plt.style.context('seaborn'): # พล็อตเนื้อหา สไตล์ต่าง ๆ
    plt.title('SEI simulation of monkeypox in rodent.') # ชื่อกราฟ
    plt.xlabel('Time') # แกน X
    plt.ylabel('Number of population') # แกน Y
    plt.plot(simulationResult['Susceptible'], c = 'royalblue', linestyle = '--',label = 'Susceptible') # S
    plt.plot(simulationResult['Exposed'], c = 'forestgreen', linestyle = '--' ,label = 'Exposed') # E
    plt.plot(simulationResult['Infectious'], c = 'firebrick', linewidth = 2.5,label = 'Infectious') #I
    plt.annotate(simulationResult['Infectious'].max(),
                    (simulationResult['Infectious'].idxmax(), simulationResult['Infectious'].max()),
                    textcoords = 'offset points', xytext = (5,5),ha = 'center')
    plt.legend(frameon = True, facecolor = 'white') # โชว์เส้นกริด ทำเป็นสีขาว
    plt.show()