<a href="https://colab.research.google.com/github/Supakornnn/data_viz_2022/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions ($f(x) =$y)



```python
def function_name(input_x):
    #do someting with input_x to get output_y
    return output_y
```

$_f1(x)=$x**2+75

In [ ]:
def function_f1(x):
  a = x**2
  y = a+75
  return y

In [ ]:
function_f1(3)

84

Function มีส่วนสำคัญทั้งหมด 4 ส่วน
1. บอกpython ว่าเราจะเขียนฟังก์ชัน ชื่ออะไร def function_name() : (ขาดไม่ได้๗
2. กำหนดตัวเเปรที่จะเป็น input  _Input_ (ขาดไม่ได้)
3. ส่วนประมวลผล do_something with Input to get Output (ขาดไม่ได้)
4. ส่วน output return Output (ขาดได้)

### ตัวอย่าง Function ที่มีส่วนประกอบครบ

In [ ]:
def function_f1(x):
  a = x**2
  y = a+75
  return y

### ตัวอย่าง Function ที่ไม่มี input

In [ ]:
def pi_v():
  y = 3.14159265359
  return y

In [ ]:
piv = pi_v()
circle_area_r2 = piv*(2**2)
print(circle_area_r2)

12.56637061436

### Function ไม่มี process ไม่ได้

In [ ]:
def function_a():

SyntaxError: ignored

ตัวอย่าง Function ที่ไม่มี output

In [ ]:
def print_name_id(name,id):
    print(f'ชื่อ {name} รหัสประจำตัว {id}')

In [ ]:
print_name_id('ศุภกร','623021008-5')

ชื่อ ศุภกร รหัสประจำตัว 623021008-5

In [ ]:
a = print_name_id('ศุภกร','623021008-5')

ชื่อ ศุภกร รหัสประจำตัว 623021008-5

ตัวอย่าง function print

In [ ]:
print('ศุภกร',end='->')
print('623021008-5')

ศุภกร->623021008-5

In [ ]:
print('ศุภกร','623021008-5',sep = '&')

ศุภกร&623021008-5

## input ของ function เเบ่งเป็น 2 ชนิด (จำเป็นต้องใส่ กับ ไม่จำเป็นต้องใส่)

In [4]:
def print_grade(name,id,grade = 'F') : 
    print (f'รหัสประจำตัว {id} ชื่อ {name}')
    print (f'ไ้ด้เกรด {grade}')

ตัวอย่าง function 'print_grade()' มี output 3 ตัว จำเป็นต้องใส่ 2 ตัว คือ name กับ id เเละไม่จำเป็นต้องใส่ 1 ตัว คือเกรดึ่งมีค่า defult เป็น F

In [5]:
print_grade('นายสิทธัดกะ จรัสเเสง','623020541-2','A')

รหัสประจำตัว 623020541-2 ชื่อ นายสิทธัดกะ จรัสเเสง
ไ้ด้เกรด A

In [6]:
print_grade (id='623020541-2',name = 'นายสิทธัดกะ จรัสเเสง', grade='B+')

รหัสประจำตัว 623020541-2 ชื่อ นายสิทธัดกะ จรัสเเสง
ไ้ด้เกรด B+

## Looping (for)



```python
for member in listEx:
    do_something()

```

In [1]:
for member in [1,2,3,4,5,6]:
    print(member)

1
2
3
4
5
6

In [7]:
def print_name(name):
    print(f'ฉันชื่อ {name}')

In [11]:
for name in ['วัชราภรณ์','จุพาการณ์','ชลธิชา','ญาดา','กิตติคุณ']:
    N = name
    print_name(N)

ฉันชื่อ วัชราภรณ์
ฉันชื่อ จุพาการณ์
ฉันชื่อ ชลธิชา
ฉันชื่อ ญาดา
ฉันชื่อ กิตติคุณ

In [22]:
list_name_id_grade = [['นางสาวเบญญาภา ระภูเขียว','623020527-6','B'],
                      ['นางสาวทักษิณา ราชหุ่น','623021000-1','A'],
                      ['นางสาวปลายฟ้า คำเพ็ง','623021005-1','C']]

In [23]:
for each in list_name_id_grade:
  name = each[0]
  id = each[1]
  grade = each[2]
  print_grade(name,id,grade)
  print('----------------')

รหัสประจำตัว 623020527-6 ชื่อ นางสาวเบญญาภา ระภูเขียว
ไ้ด้เกรด B
----------------
รหัสประจำตัว 623021000-1 ชื่อ นางสาวทักษิณา ราชหุ่น
ไ้ด้เกรด A
----------------
รหัสประจำตัว 623021005-1 ชื่อ นางสาวปลายฟ้า คำเพ็ง
ไ้ด้เกรด C
----------------

### ใช้ for loop เพิ่มสมาชิกใน list

In [24]:
list_name = []
list_id = []
list_grade = []
for each in list_name_id_grade:
  list_name.append(each[0])
  list_id.append(each[1])
  list_grade.append(each[2])

In [25]:
list_name

['นางสาวเบญญาภา ระภูเขียว', 'นางสาวทักษิณา ราชหุ่น', 'นางสาวปลายฟ้า คำเพ็ง']

### การวนลูป range ()

In [26]:
for i in range(100):
    print('งง',end = ' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

###loop ซ้อน loop

In [29]:
for mem1 in range(2,5): #[2,3,4]
    print(f'now mem1 = {mem1}')
    for mem2 in range(1,13): #[1,2,3,4,5,6,7,8,9,10,11,12]
      print(f'{mem1} x {mem2} = {mem1*mem2}')
    print('end inner for mem1 = {mem1}')

now mem1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
end inner for mem1 = {mem1}
now mem1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
end inner for mem1 = {mem1}
now mem1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
end inner for mem1 = {mem1}

## Conditional Statement (if)